/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5E63BA;
}
.container {
    display: flex;
    width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.hangman-box img {
    user-select: none;
    max-width: 150px;
}
.hangman-box h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}
.game-box .word-display {
    gap: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.word-display .letter {
    width: 30px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin: 0 5px 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
}
.game-box h4 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.keyboard button {
    padding: 10px;
    width: calc(100% / 13 - 5px);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background: #5E63BA;
}
.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}
.keyboard button:hover {
    background: #8286c9;
}
